*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Ignore Firebase config
google-services.json
# Ignore signing keys (very important)
*.jks
*.keystore

# Ignore iOS Firebase file (if ever added by mistake)
GoogleService-Info.plist
